$color_white: #ffffff;
$color_black: #000000;

$color_more_light: #FCFDFE;
$color_light: #FAFBFD;
$color_medium: #B0B0B0;
$color_average: #616161;


$color_accent2: #4285F4;
$color_accent: #EC5863;

$font_basic: 'Rubik', sans-serif;
$font_details: 'Raleway', sans-serif;

$mobile475: 475px;
$tablet768: 768px;
$desktop1024: 1024px;
$desktop1152: 1152px;